<h1>Zoh My Records</h1>

<ul class='records'>
<% for(var i = 0; i < records.models.length; i++) { %>
  <li class='record'>
    <h4>
      <a href="<%= records.models[i].get('spotify_uri') %>">
        <%= records.models[i].get('title') %>
      </a>
    </h4>
    <img src="<%= records.models[i].get('cover_url') %>"></img>
    <h5><%= records.models[i].get('artist') %></h5>
  </li>
<% } %>
</ul>