// Place all the styles related to the records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.records {
  margin: 0;
  padding: 0;
  list-style: none;

  li.record {
    float: left;
    text-align: center;
    max-width: 220px;
    padding: 20px;
    margin: 10px;
    @include box-shadow(0 0 8px #ccc);
    background-color: #eee;

    img.cover {
      width: 200px;
      margin-bottom: 10px;
    }

    a.record {
      display: block;
    }

    span.artist {
      font-size: 14px;
      line-height: 16px;
    }
  }
}
